*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 50%;
    flex-grow: 1;
    background-image: url(images/img1.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: #fff; 
}
.col-2{
    flex-basis: 50%;
    flex-grow: 1;
    padding: 40px 80px;
    background-image: url(images/);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    cursor: pointer;
}
.left-text{
    width: 70%;
    margin: 450px auto 0;
}
.left-text h1{
    font-size: 50px;
    font-weight: 500;
}
.left-text a img{
    width: 60px;
    margin-right: 20px;
} 
.left-text a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
}
.col-2 ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.col-2 ul li a{
    display: inline-block;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
}